ansible/inventory-full
terraform/demo1/secrets-full.json
terraform/appd/secrets-full.json
ansible/ssh.cfg
terraform/demo1/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/CHANGELOG.md
terraform/demo1/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/LICENSE
terraform/demo1/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/README.md
terraform/demo1/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/terraform-provider-aci_v0.4.1
terraform/demo1/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/CHANGELOG.md
terraform/demo1/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/LICENSE
terraform/demo1/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/README.md
terraform/demo1/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/terraform-provider-kubectl_v1.10.0
terraform/demo1/.terraform/providers/registry.terraform.io/hashicorp/external/2.1.0/linux_amd64/terraform-provider-external_v2.1.0_x5
terraform/demo1/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.0.3/linux_amd64/terraform-provider-kubernetes_v2.0.3_x5
terraform/demo1/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/linux_amd64/terraform-provider-null_v3.1.0_x5
terraform/demo1/.terraform/providers/registry.terraform.io/hashicorp/vsphere/1.25.0/linux_amd64/terraform-provider-vsphere_v1.25.0_x4
terraform/demo1/.terraform.lock.hcl
terraform/demo1/terraform.tfvars-std
terraform/demo1/COOKIE.file
terraform/appd/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/CHANGELOG.md
terraform/appd/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/LICENSE
terraform/appd/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/README.md
terraform/appd/.terraform/providers/registry.terraform.io/ciscodevnet/aci/0.4.1/linux_amd64/terraform-provider-aci_v0.4.1
terraform/appd/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/CHANGELOG.md
terraform/appd/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/LICENSE
terraform/appd/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/README.md
terraform/appd/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.10.0/linux_amd64/terraform-provider-kubectl_v1.10.0
terraform/appd/.terraform/providers/registry.terraform.io/hashicorp/external/2.1.0/linux_amd64/terraform-provider-external_v2.1.0_x5
terraform/appd/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.0.3/linux_amd64/terraform-provider-kubernetes_v2.0.3_x5
terraform/appd/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/linux_amd64/terraform-provider-null_v3.1.0_x5
terraform/appd/.terraform/providers/registry.terraform.io/hashicorp/vsphere/1.25.0/linux_amd64/terraform-provider-vsphere_v1.25.0_x4
terraform/appd/.terraform.lock.hcl
terraform/appd/terraform.tfstate
terraform/appd/terraform.tfstate.backup
terraform/appd/docker-creds.sh
terraform/demo1/secrets.json
terraform/demo1/terraform.tfstate
terraform/demo1/terraform.tfstate.backup
.gitignore
sda_assure
migrate
